@section navbar {
    <nav class="d-flex align-items-center ml-2">
        <ol class="list-unstyled my-0">
            <li class="mx-2"><a class="text-decoration-none text-muted">Blog</a></li>
        </ol>
    </nav>
}

<div class="container py-3">
</div>