@section navbar {
    <nav class="d-flex align-items-center ml-2">
        <ol class="list-unstyled my-0">
            <li class="mx-2"><a class="text-decoration-none text-muted">Blog</a></li>
        </ol>
    </nav>
}

<div class="container py-3">
    <ol class="blog-post-results list-unstyled">
        <div class="row my-n4">
            <li class="col-xs-12 col-sm-6 col-md-4 my-4">
                <a href="../blog/developing_smart_contracts_for_business.html" class="d-flex flex-column my-n1">
                    <img src="../assets/images/blog/2a40df99-1847-4726-9c5b-af4779eeb667-w960-h720.jpg" class="my-1" />
                    <span class="my-1">Writing Smart Contracts for Business with .NET Core</span>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 my-4">
                <a href="../blog/getting_to_grips_with_jwt_in_asp_net_core.html" class="d-flex flex-column my-n1">
                    <img src="../assets/images/blog/e4956336-3662-46ae-bea2-7fd3059919c3.jpg" class="my-1" />
                    <span class="my-1">Getting to Grips with JWT in ASP.NET Core</span>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 my-4">
                <a href="../blog/setting_up_an_asp_net_core_web_farm.html" class="d-flex flex-column my-n1">
                    <img src="../assets/images/blog/512e4dd1-6b3d-41aa-80a1-b96c3370b3c3-w960-h720.jpg" class="my-1" />
                    <span class="my-1">Setting up an ASP.NET Core Web Farm</span>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 my-4">
                <a href="../blog/building_a_web_farm_with_docker_and_raspberry_pi.html" class="d-flex flex-column my-n1">
                    <img src="../assets/images/blog/823a7764-af7c-4687-a42e-bd70768068ab-w960-h720.jpg" class="my-1" />
                    <span class="my-1">Building a Web Farm with Docker And Raspberry Pi</span>
                </a>
            </li>
        </div>
    </ol>
</div>