@section navbar {
    <nav class="d-flex align-items-center ml-2">
        <ol class="list-unstyled my-0">
            <li class="mx-2"><a class="text-decoration-none text-muted">Blog</a></li>
        </ol>
    </nav>
}

<div class="container py-3">
    <ol class="blog-post-results list-unstyled">
        <div class="row my-n4">
            <li class="col-xs-12 col-sm-6 col-md-4 my-4">
                <a href="Writing_Smart_Contracts_For_Business.html" class="d-flex flex-column my-n1">
                    <img src="../assets/images/blog/2A40DF99-1847-4726-9C5B-AF4779EEB667-w960-h720.jpg" class="my-1" />
                    <span class="my-1">Writing Smart Contracts for Business with .NET Core</span>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 my-4">
                <a href="Getting_To_Grips_With_JWT_In_ASP_Net_Core.html" class="d-flex flex-column my-n1">
                    <img src="../assets/images/blog/E4956336-3662-46AE-BEA2-7FD3059919C3.jpg" class="my-1" />
                    <span class="my-1">Getting to Grips with JWT in ASP.NET Core</span>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 my-4">
                <a href="Setting_Up_An_Asp_Net_Core_Web_Farm.html" class="d-flex flex-column my-n1">
                    <img src="../assets/images/blog/512E4DD1-6B3D-41AA-80A1-B96C3370B3C3-w960-h720.jpg" class="my-1" />
                    <span class="my-1">Setting up an ASP.NET Core Web Farm</span>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 my-4">
                <a href="Building_A_Web_Farm_With_Docker_And_Raspberry_Pi.html" class="d-flex flex-column my-n1">
                    <img src="../assets/images/blog/823A7764-AF7C-4687-A42E-BD70768068AB-w960-h720.jpg" class="my-1" />
                    <span class="my-1">Building a Web Farm with Docker And Raspberry Pi</span>
                </a>
            </li>
        </div>
    </ol>
</div>