ArchiveSources: "blog/{*,!index.*}"
ArchivePageSize: 6
ArchiveOrderKey: Published
ArchiveOrderDescending: true
---
@section navbar {
    <nav>
        <ol>
            <li><a class="text-decoration-none text-muted">Latest</a></li>
        </ol>
    </nav>
}

<ol class="blog-post-results list-unstyled">
    <div class="row my-n4">
@foreach (IDocument post in Document.GetChildren()) {
        <li class="col-xs-12 col-sm-6 col-md-4 my-4">
            <a href="../blog/@(post.GetString("DocumentName")).html" class="d-flex flex-column my-n1">
                <img src="../assets/images/blog/@(post.GetString("Image"))-w960-h720.jpg" class="my-1" />
                <span class="my-1">@post.GetTitle()</span>
            </a>
        </li>
}
    </div>
</ol>
