@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

$font-family-logo: 'Questrial', sans-serif;
$font-family-header: 'DM Serif Display', serif;
$font-family-regular: 'Open Sans';

[data-theme='light'] {
    --color-primary: #111;
    --color-secondary: #fff;
    --color-depth: #f7f7f7;
    --color-nav-anchor: #03489e;
    --color-muted: #c1cbd4;
    --color-anchor: #749ee7;
    --color-shadow: rgba(17, 17, 17, 0.01);
}

[data-theme='dark'] {
    --color-primary: #ccc;
    --color-secondary: #232323;
    --color-depth: #1c1c1c;
    --color-nav-anchor: #ffe000;
    --color-muted: #5f5d54;
    --color-anchor: #d4d0a5;
    --color-shadow: rgba(5, 5, 5, 0.07);
}

:root {
    --color-day: #F5E8B6;
    --color-night: #7B8993;
}

@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

body {
    min-height: 100vh;
    font-family: $font-family-regular;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

header {
    display: grid;
    grid-template:
        'logo logo theme'
        'navbar navbar navbar';
    gap: 1rem 2rem;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.logo {
    grid-area: logo;
    font-family: $font-family-logo;
    display: flex;
    align-items: center;
}

.logo > .logo-icon {
    margin: 0 10px 0 0;
}

.logo > span {
    white-space: nowrap;
}

.logo-icon > img {
    width: 48px;
    height: 48px;
}

nav {
    grid-area: navbar;
    display: flex;
    align-items: center;
    justify-self: center;
}

nav > ol {
    margin: 0 -.5rem;
    padding: 0;
    list-style: none;
}

nav > ol li {
    margin: 0 .5rem;
}

nav a, nav a:hover, nav a:focus {
    color: var(--color-nav-anchor);
}

a, a:hover, a:focus {
    color: var(--color-anchor);
}

.pagination-buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    display: flex;
    align-items: center;
    background-color: var(--color-anchor);
    color: var(--color-secondary);
    border-radius: 8px;
    padding: 4px 8px;
}

.button:hover, .button:focus {
    color: var(--color-secondary);
}

.text-muted {
    color: var(--color-muted) !important;
}

.icons svg {
    width: 36px;
    height: 36px;
}

.table-of-contents {
    padding: 0;
    list-style: none;
    font-size: small;
}

.table-of-contents > li {
    margin-bottom: .5rem;
}

.table-of-contents > li > a {    
    font-weight: bold;
}

.table-of-contents > li > ol {
    padding-left: 1rem;
    list-style: none;
    margin-bottom: .5rem;
}

h1, h2, h3 {
    font-family: $font-family-header;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

h3 {
    font-size: 1.5rem;
}

p img {
    max-width: 100%;
    height: auto;
}

pre, code {
    background: var(--color-depth);
}

pre {
    overflow-x: auto;
    @include box-shadow(0 0 1rem 0.05rem var(--color-shadow));
}

code {
    color: var(--color-primary) !important;
}

pre > code {
    display: inline-block;
    margin: 1rem 1rem 0.75rem 1rem;
}

p, ul, ol, dl, pre {
    margin-bottom: 1.5rem;
}

p > a {
    overflow-wrap: break-word;
}

.blog-post-results img {
    width: 100%;
}

.social svg {
    width: 1rem;
    height: 1rem;
}

.feather-twitter {
    color: #1DA1F2;
}

.feather-twitch {
    color: #9146dd;
}

.feather-rss {
    color: #F26522;
}

.feather-mail {
    color: var(--color-primary);
}

.display-error {
    display: grid;
    grid-template:
        'error'
        'title'
        'message';
    grid-column-gap: 1rem;
}

.display-error h1 {
    grid-area: title;
}

.display-error p {
    grid-area: message;
}

.error-code {
    display: flex;
    grid-area: error;
    justify-content: center;
}

.four-zero-four {
    font-size: 160px;
    line-height: 160px;
    font-family: $font-family-header;
}

.shadow-above {
    @include box-shadow(0 -1rem 1rem 0.05rem var(--color-shadow));
}

.shadow-below {
    @include box-shadow(0 1rem 1rem 0.05rem var(--color-shadow));
}

/* LIGHT/DARK SWITCH */

#dark-mode-switch {
    grid-area: theme;
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    margin: 0;
  }
  
  #dark-mode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-day);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 4px;
    background-color: var(--color-secondary);
  }
  
  input:checked + .slider {
    background-color: var(--color-night);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* ALIGNMENT */

.push-end {
    justify-self: end;
}

/* RESIZE */

@media (min-width: 576px) {
    header {
        grid-template: 'logo navbar theme' auto / auto 1fr auto;
    }

    nav {
        justify-self: start;
    }
}

@media (min-width: 768px) {
    .display-error {
        grid-template:
            'title error' auto
            'message error' 1fr / 1fr auto;
    }
}

/* FONTS */

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/open-sans-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* questrial-regular - latin */
@font-face {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    src: local('Questrial'), local('Questrial-Regular'),
        url('../fonts/questrial-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/questrial-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-serif-display-regular - latin */
@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: local('DM Serif Display Regular'), local('DMSerifDisplay-Regular'),
         url('../fonts/dm-serif-display-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/dm-serif-display-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }