<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (Document.ContainsKey(WebKeys.Description))
    {
        <meta name="description" content="@Document.GetString(WebKeys.Description)">
    }

    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="assets/images/safari-pinned-tab.svg" color="#749ee7">
    <meta name="msapplication-config" content="browserconfig.xml" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link href="assets/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/styles.css?v=1" rel="stylesheet" />

    <title>@(!string.IsNullOrEmpty(Document.GetTitle()) ? $"{Document.GetTitle()} - " : string.Empty)Develop Momentum
    </title>
</head>

<body class="d-flex flex-column">
    <div class="flex-grow-1 d-flex flex-column">
        <header class="container shadow-below">
            <div class="logo">
                <a href="index.html" class="logo-icon"><img alt="Develop Momentum" src="assets/images/logo.svg" /></a>
                <span>Develop Momentum</span>
            </div>
            <nav>
                <ol>
                    <li><a href="blog/latest/1.html">Latest</a></li>
                </ol>
            </nav>
            <label id="dark-mode-switch" class="push-end" aria-hidden="true">
                <input type="checkbox" tabindex="-1">
                <span class="slider round"></span>
            </label>
        </header>
        <div class="container py-3">
            @RenderBody()
        </div>
    </div>
    <footer class="py-3 font-size-sm shadow-above">
        <div class="container d-flex flex-wrap">
            <span class="flex-grow-1 text-nowrap">© @DateTime.Today.Year Adam Shirt | Version: <a
                    href=https://dev.azure.com/developmomentum/Develop%20Momentum/_build/results?buildId=#{Build.BuildId}#&view=results>#{Build.BuildNumber}#</a></span>
            <ul class="m-n2 d-flex list-unstyled social">
                <li class="m-2">
                    <a href="feed.atom" aria-label="Atom feed" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" class="feather-rss" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path d="M4 11a9 9 0 0 1 9 9" />
                            <path d="M4 4a16 16 0 0 1 16 16" />
                            <circle cx="5" cy="19" r="1" />
                        </svg>
                    </a>
                </li>
                <li class="m-2">
                    <a href="mailto:adam.shirt@developmomentum.com" aria-label="Email me">
                        <svg xmlns="http://www.w3.org/2000/svg" class="feather-mail" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2">
                            <path
                                d="M 4 4 h 16 c 1.1 0 2 0.9 2 2 v 12 c 0 1.1 -0.9 2 -2 2 H 4 c -1.1 0 -2 -0.9 -2 -2 V 6 c 0 -1.1 0.9 -2 2 -2 Z" />
                            <polyline points="22,6 12,13 2,6" />
                        </svg>
                    </a>
                </li>
                <li class="m-2">
                    <a href="sitemap.xml" aria-label="Sitemap" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" class="feather-map" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6" />
                            <line x1="8" y1="2" x2="8" y2="18" />
                            <line x1="16" y1="6" x2="16" y2="22" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="assets/js/themes.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('sw.js');
        }
    </script>
</body>

</html>