<div class="container py-3">
    <h1>The content is back!</h1>
    <p>This site is currently under construction, but the content is available. Over time, the content will be styled more presentably, but if this is an issue you can also view my content on <a href="https://medium.com/@@adamshirt">Medium</a>.</p>
</div>