<div class="container py-3">
    <h1>Check back soon!</h1>
    <p>This site is currently under construction. For now, you can visit <a href="https://medium.com/@@adamshirt">Medium</a> to access my blog.</p>
</div>